@charset "utf-8";
/* CSS Document */

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size:14px;
}

#sp1{
	display: none;
}
.c1:hover{
		color: red;
	}
	.c2:hover{
		color: yellow;
	}
ol,dl{
	list-style-type: none;
}

body{
	background-image:url(../images/2015648.jpg);
}

header p{
	color:white;
	position: absolute;
	right:300px;
	bottom: 120px;
}

header,nav,main,footer{
	width: 760px;
	margin:0 auto;
}

main{
	background-color: white;
	height:700px;
}

header{
	width: 760px;
	height: 140px;
	background: url(../images/banner.jpg);
}

nav{
	background-color:#d9edfe;
	height:30px;
}
nav li{
	line-height: 2em;
	margin-left:5px;
	color:blue;
	float:right;
	font-size: 14px;
}
aside div{
	width: 210px;
	height: 269px;
	background: url(../images/mypic_bg.gif);
}

hr{
	border:1px dashed #989898;
	width: 200px;
}

ol a{
	color:#004986;
}

aside dd{
	margin-left: 10px;
}

.d2 dd{
	background: url(../images/icon1.gif) no-repeat 0px 5px;
	padding-left: 8px;
}
img{
	position: absolute;
	margin-left: 15px;
	margin-top:15px;
}
aside dt{
	width: 210px;
	height: 23px;
	background: url(../images/leftbg.jpg);
}
main aside{
	width: 300px;
	height:700px;
	float:left;
	background-color: white;
}

aside dt{
	font-weight: bold;
}


span{
	color:gray;
	position:relative;
	left:230px;
}
div p{
	margin-bottom: 14px;
}

div dt{
	color:#652800;
	font-weight: bold;
	font-size:20px;
	border-bottom:1px dashed #989898;
}

footer{
	height:30px;
	background:#d9edfe ;
}
footer p{
	color:#004986;
	text-align: center;
	line-height: 2em;
}
p time{
	color:#004986;
}
.q1,.q2,.q3{
	display: none;
}
.d1:hover .q1{
	display: block;
}
.d2:hover .q2{
	display: block;
}
.d3:hover .q3{
	display: block;
}